@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background-color: #444449;
}

#entry {
    height: 100vh;
    width: 100vw;
    border: 0;
    align-content: center;
}

@media (max-width: 1000px) {
    #entry {
        flex: 100%;
        max-width: 100%;
        flex-direction: column;
        font-size: 12px;
    }

    #left-side {
        order: 1;
        flex: 50%;
    }

    #right-side {
        order: 2;
        flex: 50%;
    }

}

@media (max-width: 600px) {
    #entry {
        flex: 50%;
        max-width: 50%;
        flex-direction: column;
        font-size: 12px;
    }

    #left-side {
        order: 1;
        flex: 50%;
    }

    #right-side {
        order: 2;
        flex: 50%;
    }

}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

#left-side {
    order: 1;
    flex: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#right-side {
    order: 2;
    flex: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#my-wallet{
    align-self: flex-start;
    font-family: 'Lobster', cursive;
    font-size: 2rem;
    margin: 1rem;
    color: rgba(255, 255, 255, .75);
    text-shadow: 0.05em 0.05em 0.05em rgba(255, 255, 255, .5);
}

#wallet-card {
    position: relative;
    height: 70vh;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#wallet-card:before{
   opacity: 10%;
}

.shadowed-box{
    box-shadow: 0 0 1rem 0 rgba(255, 255, 255, .5);
    background-color: rgba(255, 255, 255, .5);
    backdrop-filter: blur(5px);
    border-radius: 2em;
}

#pie-chart {
    overflow: hidden;
    height: 50em;
    width: 50em;
    align-self: center;
    display: flex;
    flex-direction: row;
}

#react-calendar {
    height: 10em;
}

#add-entry {
    width: 35vw;
    height: 50vh;
    align-items: center;
    float: left;
}

#add-entry form {
    height: 100%;
    width: 75%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between !important;
}

.form-input{
    width: 25vw;
    height: 1vh;
}

.form-element{
    margin: 0.5rem !important;
    padding: 0.5rem !important;
}

input{
   float: right;
}

#make-it-rain {
    height: 2em;
    width: 2em;
    order: 1;
    align-self: center;
}
.spending{
    width: auto;
    text-align: center;
    float: left;

    display: flex;
    flex-direction: column;
}
#top5spending{
    margin: 0;
    padding: 0;
    float: left;
    width: 100%;
}


ol li{
    list-style: none;
}